body{

    background-color: beige;

}

h1 {

    color : cornflowerblue;
    transition: color .5s ease-in-out;
}

.clicked {

    color : tomato;

}

.test{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}